{% extends 'books/base.html' %}
{% block content %}

<title>Book Detail</title>
<h2>Book detail</h2>


<div class="media-body">
    <div class="article-metadata">
        <div>
            <a class="btn btn-secondary btn-bg mt-1 mb-3" href="{% url 'edit_book' object.id %}">Edit Book</a>
        </div>
        <div class="media">
            <div class="media-body">
                <h2 class="mt-2 mb-2">{{ object.title }}</h2>
                <h5 class="mt-2 mb-2"><strong>Author: </strong>{{ object.author }}</h5>
                <h5 class="mt-2 mb-2"><strong>Publication date: </strong>{{ object.published_date }}</h5>
                <h5 class="mt-2 mb-2"><strong>ISBN Number: </strong>{{ object.isbn_number }}</h5>
                <h5 class="mt-2 mb-2"><strong>Number of pages: </strong>{{ object.page_count }}</h5>
                {% if book.image_link %}
                <h5 class="mt-2 mb-2"><strong>Link to image: </strong><a href={{ object.image_link }}
                        target="_blank">Click here to view.</a>
                </h5>
                {% else %}
                <h5 class="mt-2 mb-2"><strong>Link to image: </strong>{{ object.image_link }}</a></h5>
                <h5 class="mt-2 mb-2"><strong>Publication language: </strong>{{ object.publication_language }}</h5>
                {% endif %}
            </div>
        </div>
    </div>


    {% endblock %}