{%extends 'books/base.html' %}
{% load static %}
{% block content %}

<title>Book List</title>
<h1> Book List </h1>

<!-- Filter form section START -->
<form>
    <div class="form-row align-items-center" action="{% url 'books_list' %}" method="get">
        <div class="col-sm-2 my-1">
            <input name="title" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="col-sm-2 my-1">
            <input name="author" type="text" class="form-control" placeholder="Author">
        </div>
        <div class="col-sm-2 my-1">
            <input name="publication_language" type="text" class="form-control" placeholder="Publication Language">
        </div>
        <div class="col-sm-2 my-1">
            <input name="publication_date_start" type="text" class="form-control" placeholder="Publication start date"
                class="textbox-n" onfocus="(this.type='date')">
        </div>
        <div class="col-sm-2 my-1">
            <input name="publication_date_end" type="text" class="form-control" placeholder="Publication end date"
                class="textbox-n" onfocus="(this.type='date')">
        </div>
        <div class="col-sm-2 my-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<!--Filter form section END -->
<!--BOOKS LIST START -->
<div class="table-responsive-sm table-bordered">
    <table class="table table-striped table-hover">
        <thead>
            {% if object_list %}
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publication date</th>
                <th scope="col">ISBN</th>
                <th scope="col">Number of pages</th>
                <th scope="col">Image link</th>
                <th scope="col">Publication language</th>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
            <tr>
                <td><a class="title-link" href="{% url 'edit_book' book.id %}">{{ book.title }}</a>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.isbn_number }}</td>
                <td>{{ book.page_count }}</td>
                {% if book.image_link %}
                <td>
                    <a href="{{ book.image_link }}" target="_blank">
                        <img src="{{ book.image_link }}" alt="">
                    </a>
                </td>
                {% else %}
                <td>{{ book.image_link }}</td>
                {% endif %}
                <td>{{ book.publication_language }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p><b>No books are available</b></p>
{% endif %}
<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}